{% extends 'core/base.html' %}

{% block title %}
    Блог "{{ object.title }}".
{% endblock %}

{% block page_title %}
    Блог "{{ object.title }}".
{% endblock %}

{% block content %}
    <h3><a href="{% url 'blogs:blog_list' %}">Список блогов</a></h3>
    <div>{{ object.description }}</div>

    {% if user == object.owner %}
        <a href="{% url 'blogs:create_post' %}">Создать пост. </a>
    {% endif %}

    {% for post in object.posts.all %}
        <div style="border: dashed">
            <div>
                {{ forloop.counter }}: <a href="{% url 'blogs:post_details' pk=post.id %}">{{ post.title }}</a>.
                {% if user == post.author %}
                    <a href="{% url 'blogs:update_post' pk=post.id %}">Редактировать. </a>
                {% endif %}
            </div>
            <div>
                <small>Автор: {{ post.author }}</small>
            </div>
        </div>
    {% endfor %}

{% endblock %}