{% extends 'core/base.html' %}

{% block title %}

{% endblock %}

{% block page_title %}
    Пост "{{ post.title }}".
{% endblock %}

{% block content %}
    <a href="{% url 'blogs:blog_details' pk=post.blog_id %}"><h3>Блог</h3></a>
    <div>{{ post.content }}</div>
    <hr>
    <div>Лайков: {{ post.likes.count }}</div>
    <div>
        {% include "comments/comments_list.html" with object_list=post.comment_set.all %}
    </div>

    {% if user.is_authenticated %}
        <form method="post" action="{% url 'blogs:post_details' pk=post.id %}">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Отправить">
        </form>
    {% endif %}

{% endblock %}