{% extends 'core/base.html' %}

{% load bootstrap3 %}

{% block title %}

{% endblock %}

{% block page_title %}
    Пост "{{ post.title }}".
{% endblock %}

{% block content %}
    <a href="{% url 'blogs:blog_details' pk=post.blog_id %}"><h3>Блог</h3></a>
    <header>{{ post.content }}</header>
    <header>Лайков: {{ post.likes.count }}</header>
    <header>
        {% include "comments/comments_list.html" with object_list=post.comment_set.all %}
    </header>

    <li class="list-group-item">
        {{ post.likes.count }}
        <a href="#"> {% bootstrap_icon 'heart' %}</a>
    </li>

    {% if user.is_authenticated %}
        <nav>
            <form method="post" action="{% url 'blogs:post_details' pk=post.id %}">
                {% csrf_token %}
                <table>
                    {% bootstrap_form form %}
                    {% buttons submit='Отправить' %}{% endbuttons %}
                </table>

            </form>
        </nav>
    {% endif %}
    <aside>
        {% include "comments/comments_list.html" with object_list=post.comments.all %}
    </aside>

{% endblock %}

