{% extends 'core/base.html' %}

{% load bootstrap3 %}

{% block title %}
    Редактирование блога.
{% endblock %}

{% block page_title %}
    Редактирование блога.
{% endblock %}

{% block content %}
    <nav>
        <form method="post" action="{% url 'blogs:update_blog' pk=object.pk %}">
            {% csrf_token %}
            <div>{{ form.errors }}</div>
            <table>
                {% bootstrap_form form %}
                {% buttons submit='Сохранить' %}{% endbuttons %}
            </table>

        </form>
    </nav>
{% endblock %}
