<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<meta charset="utf-8">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<meta charset="utf-8">
<body>
<tite>Блог</tite>
<style>
    .layer1 {
        font: 14pt serif;
    }

    h1 {
        font: bold italic 110% serif;;
    }
</style>
</head>
<body>
<div class="layer1">
    <h1>{% block page_title %}{% endblock %}</h1>

    <div>
        {% block content %}

        {% endblock %}
    </div>


    </div>

    <div>
        {% block footer %}
            <hr/>
            {% if user.is_authenticated %}
            <div>
                Добро пожаловать, {{ user.username }}.
            </div>
            <a href="{% url 'core:logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'core:login' %}">Войти</a>
        {% endif %}

        {% endblock %}
    </div>

</body>

</html>