{% extends 'core/base.html' %}
{% load bootstrap3 %}
{% block title %}
    Главная страница блога
{% endblock %}

{% block content %}

    <nav><a href="{% url 'blogs:blog_list' %}"><h3>Cписок блогов</h3></a></nav>
    <ul class="list-group">
        <li class="list-group-item">число пользователей: {{ n_users }}</li>
        <li class="list-group-item">число блогов: {{ n_blogs }}</li>
        <li class="list-group-item">число постов: {{ n_posts }}</li>
        <li class="list-group-item">число комментариев : {{ n_comments }}</li>
    </ul>


{% endblock %}

